<h1>Patient Appointments</h1>
<table class="styled-table">
  <thead>
    <tr>      
      <th>Doctor Name</th>
      <th>Appointment Date And Time</th>
      <th>Token Number</th>
      <th>Action</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let appointment of doctorAppointment">     
      <td>{{ getPatientName(appointment.patientId) }}</td>
      <td>{{ appointment.appointmentProvidedDate }}</td>
      <td>{{ appointment.tokenNumber }}</td>
      <td><button class="btn btn-success">Prescription</button></td>
    </tr>
  </tbody>
</table>
