footer {
  background-color: black;
  margin-top: 35px;
  padding-bottom:15px;
}

.footer-menu {
  padding-top: 10px;           
}

.copy {
  text-align: center;
  color: white;
}

.footer-menu li {
  display: inline-block;
  margin-right: 20px;
}

.social-icons {
  display: flex;
  justify-content: center;           
}

  .social-icons a {
      color: #f9f9f9;
      margin: 0 5px;
      width:30px
  }

a {           
  text-decoration: none;
  color:white;
}