<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
<footer class="text-center">
  <div class="container">
      <ul class="footer-menu">
          <li><a  routerLink="about"><h4>About</h4></a></li>
          <li><a href="http://127.0.0.1:5500/contact.html" target="blank"><h4>Contact</h4></a></li>
          <li><a href="http://127.0.0.1:5500/career.html" target="blank"><h4>Careers</h4></a></li>
          <li><a href="http://127.0.0.1:5500/help.html#troubleshooting" target="blank"><h4>Help</h4></a></li>
      </ul>
      <div class="social-icons">
          <a href="https://www.facebook.com/login/" target="blank"><i class="fa-brands fa-facebook fa-2x" style="color:#4267B2"></i></a>
          <a href="https://twitter.com/i/flow/signup" target="blank"><i class="fab fa-twitter fa-2x" style="color:#1DA1F2"></i></a>
          <a href="https://www.instagram.com/accounts/login/" target="blank"><i class="fab fa-instagram fa-2x" style="color: #d62976"></i></a>
      </div>
  </div>
  <div class="container text-center mt-4">
          <a href="https://play.google.com/store/apps?utm_source=apac_med&utm_medium=hasem&utm_content=Oct0121&utm_campaign=Evergreen&pcampaignid=MKT-EDR-apac-in-1003227-med-hasem-ap-Evergreen-Oct0121-Text_Search_BKWS-BKWS%7CONSEM_kwid_43700064490253544_creativeid_480915691381_device_c&gclid=CjwKCAjw9pGjBhB-EiwAa5jl3Bo3O4EVWF-UwgBdjNcCzw1onNQ_RnY9q3ZWtEn1wvWUeh2CVQYEkBoC8p0QAvD_BwE&gclsrc=aw.ds&pli=1" target="blank"><img src="assets/images/gplay.png" alt="" width="150px"></a>
          <a href="https://www.microsoft.com/en-in" target="blank"><img src="assets/images/micro.png" alt="" width="120px"></a>
      </div>
  <!--Copy right-->
  <div class="container">
      <p class="text-center copy">&copy; 2023 Your Company. All rights reserved.</p>
  </div>
</footer>