<div class="container">
    <h2>Appointment Requests</h2>
    <table class="table">
      <thead>
        <tr>
          <th>Doctor Name</th>
          <th>Department Name</th>
          <th>Request Date</th>
          <th>Status</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let request of appointmentRequests">
          <td>{{ getDoctorName(request.doctorId) }}</td>
          <td>{{ getDepartmentName(request.doctorId) }}</td>
          <td>{{ request.requestDate }}</td>
          <td *ngIf="request.status==0">Pending...</td>
          <td *ngIf="request.status==1">Accepted...</td>         
        </tr>
      </tbody>
    </table>
  </div>
  