<div class="container">
  <h2 class="text-center">Doctors in {{ departmentName }}</h2>
  <ul class="doctor-list">
      <li *ngIf="departmentDoctors.length === 0">
          <p>No doctors in this department.</p>
      </li>
      <li *ngFor="let doctor of departmentDoctors" class="doctor-item">
          <div class="doctor-box">
              <img src="{{ 'https://localhost:44324/' + doctor.doctorImg }}" alt="{{ doctor.doctorName }}" width="150px">
              <h3>{{ doctor.doctorName }}</h3>
              <p class="doctor-info">Gender: {{ doctor.gender }}</p>
              <p class="doctor-info">Qualification: {{ doctor.qualification }}</p>
              <p class="doctor-info">Contact Number: {{ doctor.contactNumber }}</p>
              <p class="doctor-info">Visiting Days: {{ doctor.visitingDays }}</p>
              <p-toast position="top-center"></p-toast>
              <button class="btn btn-success" (click)="openAppointmentModal(doctor)">Make Appointment</button>
          </div>
      </li>
  </ul>
</div>
