<div class="staff-form">
    <h2 class="text-center register">Staff Registration</h2>
    <form [formGroup]="staff" (ngSubmit)="onSubmit()">

      <div class="form-group">
        <label for="StaffName">Staff Name</label>
        <input type="text" id="StaffName" formControlName="StaffName" class="form-control">
      </div>
      
      <div class="form-group">
        <label for="Gender">Gender</label>
        <select id="Gender" formControlName="Gender" class="form-control">
          <option value="Male">Male</option>
          <option value="Female">Female</option>
          <option value="Other">Other</option>
        </select>
      </div>      
      
      <div class="form-group">
        <label for="dob">Date Of Birth</label>
        <input type="date" id="gender" formControlName="DOB" class="form-control">
      </div>

      <div class="form-group">
        <label for="contact">Contact Number</label>
        <input type="text" id="contact" formControlName="ContactNumber" class="form-control">
      </div> 

      <div class="form-group">
        <label for="email">Email</label>
        <input type="email" id="email" formControlName="Email" class="form-control">
      </div> 

      <div class="form-group">
        <label for="address">Address</label>
        <textarea type="address" id="address" formControlName="Address" class="form-control"></textarea>
      </div> 

      
      <div class="form-group">
        <label for="department">Department</label>
        <select id="department" formControlName="DeptId" class="form-control">          
          <option *ngFor="let department of departments" [value]="department.deptId">{{department.deptName}}</option>
        </select>
      </div>

      <div class="form-group">
        <label for="position">Position</label>
        <select id="position" formControlName="Position" class="form-control">
            <option value="receptionisit">Receptionisit</option>
            <option value="nurse">Nurse</option>            
          </select>
      </div>

      <div>
        <label>Upload your image</label>
        <app-upload (onUploadFinished)="uploadFinished($event)"></app-upload>
        <input type="text" hidden formControlName="StaffImg" class="w-100" />
      </div>
  
      <div class="col-6" [hidden]="showImg">
                <h4>Selected Image</h4>
                <img [src]="imgPath"  alt="profile pic" style="width: 60px; height:40px ;">
      </div>
      <br>
  
      <button type="submit" class="btn btn-primary">Add Staff</button>
    </form>
  </div>
  