<div class="staff-form">
    <h2 class="text-center register">Staff Registration</h2>
    <form [formGroup]="staff" (ngSubmit)="onSubmit()">

      <div class="form-group">
        <label for="StaffName">Staff Name</label>
        <input type="text" id="StaffName" formControlName="StaffName" class="form-control" />
        <mat-error *ngIf="StaffName.touched && StaffName.errors?.['required']">Staff name is Required</mat-error>
        <mat-error *ngIf="StaffName.errors?.['pattern']">Name must contain only aphabets, spaces and
          .(dots)</mat-error>
      </div>
      
      <div class="form-group">
        <label for="Gender">Gender</label>
        <select id="Gender" formControlName="Gender" class="form-control" >
          <option value="Male">Male</option>
          <option value="Female">Female</option>
          <option value="Other">Other</option>
        </select>
        <mat-error *ngIf="Gender.touched && Gender.errors?.['required']">Gender is Required</mat-error>
      </div>      
      
      <div class="form-group">
        <label for="dob">Date Of Birth</label>
        <input type="date" id="gender" formControlName="DOB" class="form-control" [ngClass]="{'is-invalid':DOB && (DOB.touched || DOB.dirty)}">
        <mat-error *ngIf="DOB.touched && DOB.errors?.['required']">Date Of Birth is Required</mat-error>        
      </div>

      <div class="form-group">
        <label for="contact">Contact Number</label>
        <input type="text" id="contact" formControlName="ContactNumber" class="form-control" >
        <mat-error *ngIf="ContactNumber.touched && ContactNumber.errors?.['required']">Contact number is Required</mat-error>
        <mat-error *ngIf="ContactNumber.errors?.['pattern']">Contact must contain only ten numbers</mat-error>
      </div> 

      <div class="form-group">
        <label for="email">Email</label>
        <input type="email" id="email" formControlName="Email" class="form-control">
        <mat-error *ngIf="Email.touched && Email.errors?.['required']">Email is Required</mat-error>
        <mat-error *ngIf="Email.errors?.['Email'] || Email.errors?.['pattern']">Enter a valid Email</mat-error>
      </div> 

      <div class="form-group">
        <label for="address">Address</label>
        <textarea type="address" id="address" formControlName="Address" class="form-control"></textarea>
        <mat-error *ngIf="Address.touched && Address.errors?.['required']">Address is Required</mat-error>
        <mat-error *ngIf="Address.errors?.['Address'] && Address.errors?.['pattern']">Minimum five letters</mat-error>
      </div> 

      
      <div class="form-group">
        <label for="department">Department</label>
        <select id="department" formControlName="DeptId" class="form-control">          
          <option *ngFor="let department of departments" [value]="department.deptId">{{department.deptName}}</option>
        </select>
        <mat-error *ngIf="DeptId.touched && DeptId.errors?.['required']">Department is Required</mat-error>
      </div>

      <div class="form-group">
        <label for="position">Position</label>
        <select id="position" formControlName="Position" class="form-control">
            <option value="receptionisit">Receptionisit</option>
            <option value="nurse">Nurse</option>            
          </select>
          <mat-error *ngIf="Position.touched && Position.errors?.['required']">Position is Required</mat-error>
      </div>

      <div>
        <label>Upload your image</label>
        <app-upload (onUploadFinished)="uploadFinished($event)"></app-upload>
        <input type="text" hidden formControlName="StaffImg" class="w-100"/>
        <mat-error *ngIf="StaffImg.touched && StaffImg.errors?.['required']">Image is Required</mat-error>
      </div>
  
      <div class="col-6" [hidden]="showImg">
                <h4>Selected Image</h4>
                <img [src]="imgPath"  alt="profile pic" style="width: 60px; height:40px ;">
      </div>
      <br>
      <p-toast position="top-center"></p-toast>
      <button type="submit" class="btn btn-primary">Add Staff</button>
    </form>
  </div>
  