<div class="col-6">
    <span class="p-float-label">
        <input type="file" style="display:none;" #file (change)="uploadFile(file.files)"  class="w-100 form-control" />
    </span>
</div>
<div class="col-3">
    <span class="p-float-label">
        <p-button label="Upload" (onClick)="file.click()"
            styleClass="p-button-outlined p-button-primary"></p-button>
    </span>
</div>
<div class="col-3">
    <span class="upload" *ngIf="progress > 0">
        {{progress}}%
    </span>
    <span class="upload" *ngIf="message">
        {{message}}
    </span>
</div>