<div class="container">
    <h3><a class="nav-link" id="nav" routerLink="addstaff">Add Staff</a></h3>
    <div class="search-container">
      <input type="text" [(ngModel)]="searchText" placeholder="Search by staff Name">
    </div><br>
    <div class="card-container">
      <div class="card" *ngFor="let staff of staffs | staffNameSearch:searchText">
        <div class="image-container">
          <img src="{{ 'https://localhost:44324/' + staff.staffImg }}" width="150px" alt="{{ staff.staffName }} Image">
        </div>
        <div class="card-details">
          <h3 class="staff-name">Staff Name: {{ staff.staffName }}</h3>
          <p class="position">Position: {{ staff.position }}</p>
          <p class="department">Department: {{ getDepartmentName(staff.deptId) }}</p>
          <p class="contact">Contact: {{ staff.contactNumber }}</p>
          <mat-icon (click)="editRecord(staff)" class="edit">edit</mat-icon>
          <mat-icon (click)="confirmDelete(staff)" class="delete">delete</mat-icon>
        </div>
      </div>
    </div>
  </div>

  
  <div *ngIf="editedRecord" class="edit-form">
    <h2>Edit Record</h2>
    <form (submit)="updateRecord()" class="form">   
      <div class="form-group">
        <label for="editSymptoms">StaffName:</label>
        <input type="text" id="editSymptoms" [(ngModel)]="editedRecord.staffName" name="symptoms" required>
      </div>
  
      <div class="form-group">
        <label for="editDiagnosis">Position:</label>
        <input type="text" id="editDiagnosis" [(ngModel)]="editedRecord.position" name="diagnosis" required>
      </div>
  
      <div class="form-group">
        <label for="editPrescription">Contact Number:</label>
        <input type="text" id="editPrescription" [(ngModel)]="editedRecord.contactNumber" name="prescription" required>
      </div>
  
      <div class="form-group">
        <label for="editRemark">Staff Email</label>
        <input type="text" id="editRemark" [(ngModel)]="editedRecord.email" name="remark" required>
      </div>
  
      <button type="submit" class="btn">Save Changes</button>
    </form>
  </div>
  
  