<!-- Middle Section -->
<section class="middle">
  <div class="container">
      <div class="row">
          <div class="col-md-12">
              <div style="background-image: url('assets/images/home.jpg'); height: 400px; background-size: cover;">
                  <p class="mt-5 text-center text-white">
                      <br> <br>
                      Health Care Services <br>
                      <span class="h5">We Care About Your Health</span>
                  </p>
              </div>
          </div>
      </div>
  </div>
</section>

<!-- Bottom Section -->
<section class="bottom">
  <div class="container">
      <div class="row">
          <div class="col-md-8">
              <h4>We are a medical center</h4>
              <h5>We Have Medicare Plan Options for You!</h5>
              <p>
                  Phasellus pretium orci sit amet mi ullamcorper egestas. Sed non mattis metus. Integer vel lorem tincidunt,
                  pharetra eros nec, posuere odio. Nullam eget bibendum sem, venenatis lacinia justo. Duis aliquet lobortis
                  neque, eget volutpat nulla iaculis a.
              </p>
              <p>
                  In hac habitasse platea dictumst. Praesent condimentum justo justo, at ultricies diam accumsan vitae.
                  Donec ac elementum diam. Ut quam orci, posuere quis lacus sed, vehicula rhoncus massa.
                  Nunc volutpat nibh nulla, tincidunt egestas tellus faucibus nec.
              </p>
              <ul>
                  <li>Nulla venenatis auctor quam, ac porta lectus dictum in</li>
                  <li>Aliquam sodales nisi sit amet lorem</li>
                  <li>Suspendisse vulputate tellus in justo convallis imperdiet</li>
                  <li>Morbi id lorem consequat, sodales mi non</li>
                  <li>Nulla venenatis auctor quam, ac porta lectus dictum in</li>
              </ul>
          </div>
          <div class="col-md-4">
              <!-- Add any additional content for the right column here -->
          </div>
      </div>
  </div>
</section>